* {
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
    /* height: 95vmin; */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    height: 100vh;
    overflow: auto;
}

main {
    max-width: 1200px;
    /* text-align: center; */
    margin: auto;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.h2-title {
    font-family: 'Arima', cursive;
}

.table-edit-user-btn {
    text-decoration: none;
    font-weight: 100;
}

.table-edit-user-btn.add {
color: green;
}

.table-edit-user-btn.remove {
    color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}